@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-default" asp-controller="Admin" asp-action="Index">
    <img src="./Images/admin.png" width="200" height="150" />&nbsp;<h4>Administrador</h4>
</a>
<a class="btn btn-default" asp-controller="Professor" asp-action="Index">
    <img src="./Images/professor.png" width="150" height="150"/>&nbsp;<h4> Professor</h4>
</a>
<a class="btn btn-default" asp-controller="Aluno" asp-action="Index">
    <img src="./Images/aluno.png" width="200" height="150"/>&nbsp;<h4> Aluno</h4>
</a>
