@model QuestAdventure.Models.Questao
@{
    Layout = "Professor/_LayoutProfessorTelaQuestao";
}

<h1>Cadastro de Questão</h1>


<form asp-action="CadastrarQuestao">
    <div class="form-group">
        <label asp-for="Pergunta" class="control-label">Nome</label>
        <input asp-for="Pergunta" class="form-control" />
    </div>

    <input type="submit" value=" Editar Alternativas" asp-action="EditarQuestao" class="btn btn-primary" />
</form>

<h4>
        <font color="red">
        @Html.ValidationSummary()
        </font>
    </h4>


