@model Usuario

@{
    Layout = "Aluno/_LayoutLoginAluno";
}
<head>
<style>
<h4> {
       color: red;
}
</style>
</head>

<div class="text-center">
    <h1 class="display-4">
        Área do Aluno
    </h1>
</div>
<br />
<form asp-action="Entrar">
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Entrar" class="btn btn-primary" />
    </div>

    <h4>
        <font color="red">
        @Html.ValidationSummary()
        </font>
    </h4>
</form>