@using System.Drawing;
@model QuestAdventure.Models.Aluno
@{
    Layout = "Aluno/_LayoutTelaAluno";
}

<h1>Bem-Vindo @Model.Nome</h1>

<h2>Suas Matérias</h2>

@foreach (var row in QuestAdventure.Controllers.UserManager.MateriaAluno.OrderBy(item => item.Materia))
{
    <div class="form-group">
        <a class="btn  btn-secondary btn-lg btn-block" href=@Url.Action("Selecionar","Aluno",new{id=row.Id, materia=@row.Materia})>@row.Materia</a>
    </div>
}