Library/PackageCache/com.unity.collections@1.4.0/Unity.Collections.LowLevel.ILSupport/README.txt.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collections@1.4.0/Unity.Collections.LowLevel.ILSupport/source~/ filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collections@1.4.0/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collections@1.4.0/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collections@1.4.0/Bee/artifacts/WebGL/GameAssembly/master_WebGL_wasm/GameAssembly.bc filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.collections@1.4.0/Bee/artifacts/WebGL/il2cppOutput/build/ filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
Ink-Libraries.csproj filter=lfs diff=lfs merge=lfs -text
Projeto[[:space:]]TCC[[:space:]]-[[:space:]]Aluno.sln filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Game.sln filter=lfs diff=lfs merge=lfs -text
connectwebgl.zip filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Projeto filter=lfs diff=lfs merge=lfs -text
TCC filter=lfs diff=lfs merge=lfs -text
- filter=lfs diff=lfs merge=lfs -text
Aluno/ filter=lfs diff=lfs merge=lfs -text
ProjetoTCC-Aluno/ filter=lfs diff=lfs merge=lfs -text
Jogo/ filter=lfs diff=lfs merge=lfs -text
Library/ filter=lfs diff=lfs merge=lfs -text
